body {
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    color: #3273dc;
}

.button.is-primary {
    background-color: #3273dc;
    border-color: transparent;
    transition: background-color 0.3s;
}

.button.is-primary:hover {
    background-color: #276c99;
}

.checkbox label {
    font-weight: 500;
}

.field {
    margin-bottom: 20px;
}

#contenu,
#heatmap {
    margin-top: 30px;
    padding: 15px;
    background-color: #e8f5e9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
}

/* Optional: Customize the position or size of the calendar icon */
.has-icons-right .icon {
    pointer-events: none;
    /* Prevents the icon from being clickable */
}