body {
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    max-width: 1000px;
}

h1 {
    color: #3273dc;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}