<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" alt="Logo" width="112" height="28">
            </a>
        </div>

        <div class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="" method="get" onsubmit="redirectToMMSI(event)">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter MMSI" id="mmsiInput" required>
                            </div>
                            <div class="control">
                                <button class="button is-info" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    404 Not Found
                </h1>
                <h2 class="subtitle">
                    Oops! The page you're looking for doesn't exist.
                </h2>
                <a class="button is-light" href="/">Go back to Home</a>
            </div>
        </div>
    </section>
    <script>
        function redirectToMMSI(event) {
            event.preventDefault(); // Prevent the form from submitting the traditional way
            const mmsi = document.getElementById('mmsiInput').value; // Get the MMSI value

            fetch('http://localhost:5000/mmsi/name/' + mmsi, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json()) // Si le backend retourne un JSON
                .then(data => {

                    if (data.error) {
                        fetch('http://localhost:5000/mmsi/' + mmsi, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => {
                                if (response.ok) {

                                    window.location.href = `http://localhost:5000/mmsi/${mmsi}`;
                                }
                                else Swal.fire({
                                    title: 'Erreur',
                                    text: 'Bateau non existant',
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                            }) // Si le backend retourne un JSON

                            .catch(error => {
                                console.error('Erreur lors de la récupération des types de navires:', error);
                            });

                    }
                    else window.location.href = `http://localhost:5000/mmsi/${data.mmsi}`; // Redirect to the MMSI page
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération des types de navires:', error);
                });


        }
    </script>
</body>
</html>
