<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boat Information - {{ boat.shipname }}</title>
    <!-- Include Bulma CSS -->
    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Inclure SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Include Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Include Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        body {
            background-color: #f4f4f4;
        }
        .container {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: auto;
            max-width: 1000px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
        }

        .navbar-end {
            display: flex;
        }

        .navbar-item {
            padding: 0 0;
        }

        h1 {
            color: #3273dc;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        ul li {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
        ul li:last-child {
            border-bottom: none;
        }
    </style>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://cdn3.iconfinder.com/data/icons/nautical-icons/512/Cruise_Ship-4096.png" alt="Logo"
                    width="40" height="40">
                <span style="margin-left: 10px; font-weight: bold; font-size: 1.2em;">Ship Tracker</span>
            </a>
        </div>

        <div class="navbar-end">
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-item">
                    <form action="" method="get" onsubmit="redirectToMMSI(event)">
                        <div class="field has-addons" style="margin-bottom: 0px;">
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter MMSI" id="mmsiInput" required>
                            </div>
                            <div class="control">
                                <button class="button is-info" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

    </nav>

    <div class="container">
        <h1 class="title">Information for {{ boat.shipname }}</h1>
        <ul>
            <li><strong>MMSI:</strong> {{ boat.mmsi }}</li>
            <li><strong>Last Received:</strong> {{ boat.received_at }}</li>
            <li><strong>Latitude:</strong> {{ boat.lat }}</li>
            <li><strong>Longitude:</strong> {{ boat.lon }}</li>
            <li><strong>Speed:</strong> {{ boat.speed }} knots</li>
        </ul>

        <div class="field">
            <label class="label">Date</label>
            <div class="control has-icons-right">
                <input class="input" type="text" id="date" placeholder="JJ/MM/AAAA">
                <span class="icon is-small is-right">
                    <i class="fas fa-calendar-alt"></i>
                </span>
            </div>
        </div>

        <div id="contenu" style="width: 100%; margin-top: 20px;"></div>
    </div>

    <!-- Include SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        let date = document.getElementById('date');

        date.addEventListener('change', function() {
            loadMap(this.value);
        })

        // Initial map load
        document.addEventListener('DOMContentLoaded', function () {
            loadMap();

            const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if (navbarBurgers.length > 0) {

                // Add a click event on each of them
                navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });

        // Function to load or update the map
        function loadMap(date = null) {
            fetch('http://localhost:5000/get_map_mmsi', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    mmsi: "{{ boat.mmsi }}",
                    date: date  // Send the selected date to backend
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.text();
            })
            .then(data => {
                document.getElementById('contenu').innerHTML = data;
            })
            .catch(error => {
                console.error('Erreur lors de la récupération de la carte:', error); 
                Swal.fire({
                    title: 'Erreur',
                    text: error.message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
        }

        // Update the map based on the selected date
        function updateMap() {
            const date = document.getElementById('dateInput').value;
            if (date) {
                loadMap(date);
            } else {
                Swal.fire({
                    title: 'Erreur',
                    text: 'Veuillez sélectionner une date valide.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        }

        flatpickr("#date", {
                dateFormat: "d/m/Y", // Format: JJ/MM/AAAA
                allowInput: false,   // Prevent manual input
                maxDate: "today"     // Optional: Prevent future dates
            });

        function redirectToMMSI(event) {
            event.preventDefault();
            const mmsi = document.getElementById('mmsiInput').value;

            fetch('http://localhost:5000/mmsi/name/' + mmsi, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        fetch('http://localhost:5000/mmsi/' + mmsi, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = `http://localhost:5000/mmsi/${mmsi}`;
                            }
                            else Swal.fire({
                                title: 'Erreur',
                                text: 'Bateau non existant',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        })
                        .catch(error => {
                            console.error('Erreur lors de la récupération des types de navires:', error);
                        });
                    }
                    else window.location.href = `http://localhost:5000/mmsi/${data.mmsi}`;
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération des types de navires:', error);
                });
        }
    </script>
</body>
</html>
