<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boat Information - {{ boat.shipname }}</title>
</head>
<body>
    <h1>Information for {{ boat.shipname }}</h1>
    <ul>
        <li class="tg"><strong>MMSI:</strong> {{ boat.mmsi }}</li>
        <li><strong>Last Received:</strong> {{ boat.received_at }}</li>
        <li><strong>Latitude:</strong> {{ boat.lat }}</li>
        <li><strong>Longitude:</strong> {{ boat.lon }}</li>
        <li><strong>Speed:</strong> {{ boat.speed }} knots</li>
    </ul>

    <div id="contenu" style="width: 800px;"></div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            fetch('http://localhost:5000/get_map_mmsi', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    mmsi: "{{ boat.mmsi }}"
                })
            })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('contenu').innerHTML = data;
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération de la carte:', error); // Affiche les erreurs dans la console
                });



        });



    </script>
</body>
</html>
