<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Bateau</title>
    <!-- Inclure Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Inclure SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Include Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" href="css/style_index.css">

    <!-- Include Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script async src="js/script_index.js"></script>

</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Recherche de Bateau</h1>
            <form id="searchForm">
                <div class="field">
                    <label class="label">Shiptype du bateau</label>
                    <select name="shiptype" id="shiptype-select">
                        <!-- Les options seront insérées ici par JavaScript -->
                    </select>
                    
                </div>

                <div class="field">
                    <label class="label">Date</label>
                    <div class="control has-icons-right">
                        <input class="input" type="text" id="date" placeholder="JJ/MM/AAAA">
                        <span class="icon is-small is-right">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" id="includeStops">
                            Inclure les arrêts
                        </label>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-primary" type="submit">Rechercher</button>
                </div>
            </form>
        </div>

        <div id="contenu"></div>
        <div id="heatmap"></div>
    </section>

    <!-- Inclure SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    
</body>

</html>